.sd-audio-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAeRJREFUKBWNUs9LVFEUPue+Nyr9gkh0IbYKKtqUYL5BaN5oP7bu2ga2bONUjM+gUGnmaSL6B7jQrUktamE1ND6CmamJJjIGghaW4EIjiZpm5r57j/cJF8bpLbpwOed+53z3nO9wEELOwGypy69VV5AoszYWvReSAqwZHJzLd4paNQNESAh2c1y/Te0EdjBVOOFX5CtE9pQhvBNAiQCPu2/PSSnuE5qu5/R+CDAWS+USsXR+S90dH2kDEVezTt9oENTnKB77RoDbQOKNnc5dD3AGiA6axpUImj1Ga9vprGPd0QRt/xi73d6YdUt9ekMSLtkzxTMmEbWv3e1d10lhlnOYsFP5vOpkRnU4RHX/wT/DCSMqzYsSYNx+TSYZsAII1n8RGeIXADoEpdIRA40f6vPjgUYKq9KICRI3UU05O3JhV0h5noA+m0BQjruFawC4GYnArxe3L35vJO37hL9bWMvQ1UcfD9d4ZUSN9CFjDCYl0bwk+axak+v2VGG4meg5feMc6qzKK6uEuBFPWgvYmHRpKncWBbxUw3ARaCtYAM+J9tvp96eI6p+UrCcdrV3Dy4nuvwc2x0tGywPTxZjweUYiflUy9vUb5P/kBvR4SausCx2oqMHLbvEkJ/6YgD0P2tR4o90DxS7EjGNPA0QAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 2px;
  position: absolute;
}

.sd-audio-start {
  position: relative;
  padding-left: 8px;
}

.sd-audio {
  display: flex;
}
