.sd-audio-icon {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAAXNSR0IArs4c6QAAAeRJREFUKBWNUs9LVFEUPue+Nyr9gkh0IbYKKtqUYL5BaN5oP7bu2ga2bONUjM+gUGnmaSL6B7jQrUktamE1ND6CmamJJjIGghaW4EIjiZpm5r57j/cJF8bpLbpwOed+53z3nO9wEELOwGypy69VV5AoszYWvReSAqwZHJzLd4paNQNESAh2c1y/Te0EdjBVOOFX5CtE9pQhvBNAiQCPu2/PSSnuE5qu5/R+CDAWS+USsXR+S90dH2kDEVezTt9oENTnKB77RoDbQOKNnc5dD3AGiA6axpUImj1Ga9vprGPd0QRt/xi73d6YdUt9ekMSLtkzxTMmEbWv3e1d10lhlnOYsFP5vOpkRnU4RHX/wT/DCSMqzYsSYNx+TSYZsAII1n8RGeIXADoEpdIRA40f6vPjgUYKq9KICRI3UU05O3JhV0h5noA+m0BQjruFawC4GYnArxe3L35vJO37hL9bWMvQ1UcfD9d4ZUSN9CFjDCYl0bwk+axak+v2VGG4meg5feMc6qzKK6uEuBFPWgvYmHRpKncWBbxUw3ARaCtYAM+J9tvp96eI6p+UrCcdrV3Dy4nuvwc2x0tGywPTxZjweUYiflUy9vUb5P/kBvR4SausCx2oqMHLbvEkJ/6YgD0P2tR4o90DxS7EjGNPA0QAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  top: 2px;
  position: absolute;
}

.sd-audio-start {
  position: relative;
  padding-left: 8px;
}

.sd-audio {
  display: inline-flex;
}

.sd-accent-box {
  display: table;
  width: 100%;
}

.sd-accent-box-row {
  display: table-row;
}

.sd-accent-box-icon-container {
  display: table-cell;
  width: 50px;
  background: #3e86c7;
}

.sd-accent-box-text {
  display: table-cell;
  background-color: #ebf8ff;
  padding: 15px;
}

.sd-accent-box-text h1:first-child,h2:first-child,h3:first-child,h4:first-child,h5:first-child,h6:first-child {
  margin-top: 0px;
}

.sd-accent-box-text h1:last-child,h2:last-child,h3:last-child,h4:last-child,h5:last-child,h6:last-child {
  margin-bottom: 0px;
}

.sd-speech-box {
  background-color: #ebf8ff;
  border: 1px solid #bce8f1;
  border-radius: 34px;
  padding: 15px 30px 20px;
  display: inline-block;
}

/* desktop styles */
@media (min-width: 801px) {
  .sd-speech-container {
    margin: 10px 175px 0px 125px;
  }

  .sd-accent-box-icon-container {
    width: 70px;
  }
}
